# Python
__pycache__/
*.pyc
*.pyo
*.egg-info/
*.egg

# Build artifacts
dist/
build/
*.spec
glfw3.dll
msvcr120.dll

# User config
config.json
imgui.ini

# IDE
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store
Thumbs.db
